<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="relax" class="ru.maxima.radio.RadioRelax">
        <property name="arr">
            <list>
                <value>Nkeeei</value>
                <value>Pharaoh</value>
                <value>Lil Eazzyy</value>
                <value>steel</value>
                <value>Stay</value>
            </list>
        </property>
    </bean>
    <bean id="maximum" class="ru.maxima.radio.MaximumRadio">
        <property name="arr">
            <list>
                <value>Play Alblack</value>
                <value>Play Respouns</value>
                <value>50cent</value>
                <value>Lovv66</value>
                <value>Friendly</value>
            </list>
        </property>
    </bean>
    <bean id="energy" class="ru.maxima.radio.RadioEnergy">
        <property name="arr">
            <list>
                <value>KENTUKKI</value>
                <value>Donor</value>
                <value>Kizaru</value>
                <value>Akulich</value>
                <value>pim9</value>
            </list>
        </property>
    </bean>
    <bean id="player" class="ru.maxima.radio.RadioPlayer">
        <property name="music">
            <list>
                <ref bean="relax" />
                <ref bean="maximum" />
                <ref bean="energy" />
            </list>
        </property>
    </bean>


</beans>